<div class="biblioteca-page">
    <app-navbar></app-navbar>

    <main class="biblioteca-content">

        <header class="user-header">
            <h2 class="user-title">{{ 'LIBRARY.COLLECTION_OF' | translate }} {{ usuario.nombre }}</h2>
        </header>

        <section class="categories-grid">

            <article class="category-card" *ngFor="let cat of categorias" [routerLink]="cat.ruta" style="cursor: pointer;">
                <div class="card-image-container">
                    <img [src]="cat.imagen" [alt]="cat.nombre" class="category-image">
                </div>
                <h3 class="category-name">{{ cat.nombre }}</h3>
            </article>

        </section>

        <div class="explorar-container">
            <button class="btn-explorar" routerLink="/busqueda">{{ 'LIBRARY.EXPLORE_WORKS' | translate }}</button>
        </div>

    </main>
</div>